/*
 * CSS reset
 */
@include global-reset();

/*
 * Common styles
 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $body-bg-color;
  font-family: 'Open Sans', sans-serif;
  color: $body-text-color;
  min-height: 100%;
  overflow-x: hidden;
}

input {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

ul, ol {
  padding: 0;
}

.container {
  @include pie-clearfix;
  max-width: 71.25em;
  min-height: 100%;
  min-width: 860px;
  padding: 0 0 1em;
  margin: 0 auto;;
}

main {
  padding: 0 $padding-container;
  background: #f2f3f3;
}

/*
 * Helpers
 */
.structural {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.loading {
  text-align: center;
}

/*
 * Typography
 */
.primary {
  font-size: 24px;
  font-weight: bold;
  margin: 1em 0 2em;
}

.secondary {
  font-size: 18px;
  margin: 0 0 1em;
  font-weight: bold;
}

.toggle-edit-action {
  font-size: 14px;
  line-height: 1.5;
  margin: 30px 0 0;
  color: $body-text-alt-color-3;
  text-align: center;

  strong {
    display: block;
  }
}

/*
 * Angular–related
 */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


/*
 * Shared modules
 */
.person {
  @include pie-clearfix;
  text-align: center;

  &__thumb {
    max-width: 95px;
    vertical-align: middle;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    font-size: 14px;
    font-weight: normal;
    margin: .5em 0 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);
  }
}
