/*
 * Variables
 */
$logo-width: 80px;
$logo-height: 80px;

/*
 * Main styles
 */
.masthead {
  @include pie-clearfix;
  padding: 16px 50px;
  background: #fff;
  border-bottom: 1px solid $body-border-color;

  .container {
    padding-bottom: 0;
  }

  .logo {
    margin: 0;
    font-weight: bold;

    a {
      float: left;
      text-decoration: none;
      color: $body-text-color;
      font-size: 36px;
      line-height: 1;
      width: $logo-width;
      height: $logo-height;
      background: transparent url(../images/logo.svg) -11px -16px no-repeat;
      background-size: 129% 140%;
      text-indent: -9999px;
    }
  }
}

.nav {
  float: right;
  line-height: 80px;

  &__menu {
    position: relative;
    float: left;
    padding: 0 10px 0 0;

    &:after {
      content: ' ';
      position: absolute;
      top: 22px;
      right: 0;
      width: 1px;
      height: 36px;
      background: $body-border-color-light;
    }

    li {
      display: inline-block;
      margin-right: 1em;
    }

    a {
      display: inline-block;
      position: relative;
      padding: 10px;
      border-radius: 4px;
      line-height: 1.2;

      &:hover {
        text-decoration: none;
      }
    }

    .page-home & .item--home a,
    .page-path & .item--path a,
    .page-templates & .item--templates a {
      color: #fff;
      background: $body-link-bg;
    }

    .item--templates {
      opacity: .5;
    }

    .comments {
      position: absolute;
      top: -2px;
      right: -10px;
      border-radius: 10px;
      display: inline-block;
      background-color: $red;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      padding: 3px 6px;
      margin-top: -5px;
      transition: opacity;

      &.ng-enter,
      &.ng-leave.ng-leave-active {
        opacity: 0;
      }

      &.ng-leave,
      &.ng-enter-active {
        opacity: 1;
      }
    }

    .active {
      font-weight: bold;
    }
  }

  &__auth {
    float: left;
    padding-left: 35px;

    p {
      margin: 0;
    }

    img {
      max-width: 30px;
      max-height: 30px;
      vertical-align: middle;
      margin: -3px 5px 0 0;
    }

    button {
      display: inline-block;
      margin-left: .5em;
    }

    &__google {
      @include google-button();
    }
  }
}
