/*
 * Breakpoints
 */
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
  }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }

  }
}

/*
 * Font smoothing
 * http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 */
@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

/*
 * Google button
 * https://developers.google.com/+/web/signin/customize
 */
@mixin google-button() {
  @include font-smoothing(on);
  border: none;
  padding: 0 0 0 36px;
  margin: 0;
  display: inline-block;
  position: relative;
  background: #dd4b39;
  color: white;
  width: 185px;
  border-radius: 5px;
  white-space: nowrap;
  text-align: center;
  font: bold 12px/36px 'Roboto', sans-serif;
  cursor: pointer;

  &:hover {
    background: #e74b37;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url('/images/btn_google.png') transparent 0% 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-right: #bb3f30 1px solid;
  }
}

@mixin hide() {
  position: absolute;
  left: -9999px;
  width: 1px;
}

@mixin spin() {
  animation: spin 2s infinite linear;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
}
