@import "../bower_components/normalize.css/normalize.css";
@import "compass";
@import "compass/_utilities";

/*
 * Variables
 */
$body-text-color:   #000;
$body-bg-color:     #fff;
$body-link-color:   #436884;
$body-border-color: #f4f4f4;

$padding-container: 2em;

$account-bg:        #f2f4f3;


/*
 * Breakpoints
 */
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 70em) { @content ; }
  }
  @else if $point == laptop {
    @media (min-width: 64em) { @content ; }
  }
  @else if $point == tablet {
    @media (min-width: 50em) { @content ; }
  }
  @else if $point == phablet {
    @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
    @media (max-width: 37.5em)  { @content ; }

  }
}

/*
 * Common styles
 */
@import "_common";
@import "_header";

/*
 * Subpages
 */
@import "pages/_home";
@import "pages/_account";
@import "pages/_path";

/*
 * Directives
 */
@import "directives/_card";
