@charset "UTF-8";

/*
 * Variables
 */
$body-text-color:         #000;
$body-text-alt-color:     #c3c6c9;
$body-text-alt-color-2:   #ccc;
$body-text-alt-color-3:   #4a4e58;

$body-bg-color:           #f2f3f3;

$body-link-color:         #436884;
$body-link-bg:            #68a0e6;

$body-border-color:       #f4f4f4;
$body-border-color-light: #e5e5e5;
$body-border-color-dark:  #dfdfdf;

$padding-container:       2em;
$account-bg:              #f2f4f3;
$comment-owner-bg:        #ffffe4;

// Project’s color palette
$red:                   #fc6c7f;

/*
 * Normalize and mixins
 */
@import "compass";
@import "compass/_reset";
@import "compass/_utilities";
@import "_mixins";

/*
 * Common styles
 */
@import "_common";
@import "_header";
@import "_icons";

/*
 * Subpages
 */
@import "pages/_home";
@import "pages/_edit";
@import "pages/_path";
@import "pages/_templates";

/*
 * Modules
 */
@import "modules/_achievements";
@import "modules/_card";
@import "modules/_notifications";

@import "angularjs-datepicker/dist/angular-datepicker.min.css";
