/*
 * Variables
 */
$body-text-color:       #000;
$body-text-alt-color:   #c3c6c9;
$body-text-alt-color-2: #ccc;
$body-bg-color:         #fff;
$body-link-color:       #436884;
$body-border-color:     #f4f4f4;

$padding-container:     2em;
$account-bg:            #f2f4f3;
$comment-owner-bg:      #ffffe4;


/*
 * Normalize and mixins
 */
@import "compass";
@import "compass/_reset";
@import "compass/_utilities";
@import "_mixins";

/*
 * Common styles
 */
@import "_common";
@import "_header";

/*
 * Subpages
 */
@import "pages/_home";
@import "pages/_account";
@import "pages/_path";
@import "pages/_templates";

/*
 * Modules
 */
@import "modules/_achievements";
@import "modules/_card";
