/*
 * Variables
 */
$menu-width:            30%;
$comment-border-color:  #f1f1f2;

/*
 * Main styles
 */
.achievement {
  background: #fff;
  width: $menu-width;
  height: 100%;
  position: fixed;
  top: 0;
  right: -($menu-width);
  bottom: 0;
  padding: 0 2em;
  z-index: 1;
  transition: right 0.2s;

  .has-menu & {
    right: 0;
    min-width: 375px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
  }

  .close {
    float: right;
    border: 0;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    margin: 2em 0 0 20px;
    background: no-repeat 0 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAADFNJREFUeJztnW3MFcUVgJ97L98fTVMLpQUKKIqFYLVNi9QE+QwgYKhGsMGm/PFHf/RHNcVIGrC2BiRAMGljG7W1xqQxTRsNilga/GiVKqQ0tFAoohYCSrQvyPfne/vj3A0vlzm7e+/u7M7su08yedE7d/bsnHN3z5w5M1OheFSAUcDYxt9RwHBgMHAV8DmgH9Ab6NX4zjngLHAK6AA+AT4G9gMfAO8B/wbeB+rZ3EY2VPIWIAWGAbcA3wK+AYwHBli61nHgX8A7wFvAm8BBS9cqUegNzAYeA/6D/CLzLHuAdcDMhmwlFugJzAOeBT4lf6Vr5SjwDDCnIXNJQq4FVgGHyV+5rZaPgJXA6NR7pRswHdiIHcVcRH6pB4BdjXKg8f8uWrheJ7ABmJZqD6WES05gBfg2sAz4aoJ2TiK+wZ5G2d34exBx4s4gitFk6AMMRJzLMYbSL4Fs24GHgecTtFFIbgP+Tnu/sGPAeuA+4EagalHOGnATcD/wEmJQ7ci8FXEauz1jgVdovQP3AsuBCUCPzKW+RE/gZuAnwD5av48NwPWZS+0A/YA1wHnid1YH8DgwEbdeXQEVJB7xK+AI8e/rHOLo9s1e5HyYgUTW4nbQ28Bd+DXG7gMsQB71ce/zXWBqHsJmRV/gF8TvkFeR0YCLv/a4VJB3/RvEHzE8hl/GHosbkOFWnE54GXmUFo1JwCbi9cEOYFw+YqbPPcgkS9RN70NGA0XndmSCKao/TgAL8xExHWrI4yzqRs8AD9GNnCDECX4EcQCj+mc1doe2VhiAjJOjbm4T3TtUOgbYTHQ/vUCyAFSmDCE6qHMB+BEeWrYFqsBSosPQ25CcBqcZTvQU7X5k7r7kciYh4eqwvtsNDM1LwCiuJtq5eRHJyikxM4joSbD3kCwnpxhOtPJXUj7y41BFoqRRRuDMk2AI0Y/9H+YmnZ9UgCVEvw5y9wkGEO7wnQcW5Sad/yxGHGatf7eS4+igRvhQ7xQwKy/hCsRc4DThQ8RcXq1hQZ7zlMpPk7mEPwlWZy3QPSHC1Ckf+zZYTHifZxY2voHw2H7p8NnjAfR+P0EGE0h9CZ/VW2lbgG5OBViL3v87sDyVHDafv55ynJ8FVeBP6HpYZ+vCM0Iuup8ywpclg4FDmHXRiYXMov7oaVwXKGP7eTAZfQJpL5KWlhphocklaV6opCWWkYE/NhY9e3cT5Xs/T2rA65h1cw64Lo2LaHn7Z+jeyRyuEPYDfTFp47cpDdeRxRAlbvAoup5mtNtoBX2iZx/dK4fPdQYgIzGTrt5pt9E7lAbrZJO9OxJYgd8+Rg35dY7I4Fph+prXToP/UBrbmIKwUYzkUoLJr/HTCGrIZhF1ZAht2wgqyGIak862tdrYdKWhOvYXbYzkyuwi34ygq/KDkoURTEPX2+RWGnpZaeS11EQ1MxI9tcwXIzApPysjqABblGvHHhFcqzSQyKOMyYqQa/tgBGHKD8pPLcswV7luJ3BNnAZWKQ28jf2FmlVEyT4aQRzlP4F92Svo/tuKqC/3RN+Q6S478l6Bj0bgivIDFikyfEjEhhrzlC92kO2SZZ+MoAb8FneUD5IoekyRZXbYF59VvvS4RWE1fDACF5UfoPXd09oXeqNbzUS7sqq4bAQuKx9giiLTES7tkXwZs5Uv7CXfXTpcNALXlU/j2lp42Dia09K8l2cgbBQuGYEPyg/QhtVrTJW15V0TspA0Bi4YgU/KB1lxbJJxV3PFYUrFY+S7D18zeRpBDXGgfFE+iF+nrSoa0rXiQqXS+gyFjUseRuCj8gO0janu7FpJe//fl6WkLZClEfisfIAHMcu8tmult5RKN2YpaYtkYQS+Kx/EhzPJ/degQgXzpscncPvGwK4RFEH5ID7cWa6U/WhQ4WrDh3UkHcwHbBhBUZQfsBPzPYwAffrwd3lI2iZpGkEN+E1EWz4pH+CPmO9jFsAPlA8fykHQJKRhBEVUPugBoe+Dvtr07jwkTUgSIyiq8gG+h/l+VgH8XvnwpjwkTYF2jKDIygc51MJ0T8+BvrQo9x2oEtCKERRd+SDb+JnuazPISZimD31f+BHXCIqufIDPYr63HWBeZ34Rvw9qCIhjBEVXPkgswHR/B0ECAs0fHDU24yftGkFRlB9g2tfpCJhniw7kI6M1WjWCoikfzMm+J8G8y8QV88UFIK4RFFH5IJldzfd6oYg3qlGhGH5N6nSHV0CcoV7RnwLqK6DoTmCryi+qEZicwA4o9jCwXeUXzQhCh4FFDQTFjfA9EaOO70YQGgh6TfnQ51BwK+HdKvBkzLq+EhoK1iaDvpaHpCnQTjJH0Y1gIuZ7eg70TSC/k4ekCUmSyRPHCJ5Uvus6izHfzyooTkJIGmlcRTWC0ISQOcqHPqWEpZnDV0QjCE0J8z0p1EYCZ9GMQEsK/TLIeN+0LPwk7t+gzezdKvBURNs+GEFPzGnhR7pW0haGuJwWlsVCzSIYgZYO9peuldYple7PUtIWyHKVbhwjeCqla9lgKWaZL1sivkCplHi3aQvksUTbZyP4M2Z57+haaahS6TjyDnGFPNfn+2gEfdCXh3+hufIepeLNGQkbhQubM/hmBJMxy7jTVFnzA1w4F8AF5QfEySxyxQi0cwSMJ43OVCrvI9+pYdc2YQQ/jKCKJPaYZJtm+kJvzMkhdezvEK7hovIDXNizKIypikwdhPh1Wmf/0rKwJlxWfoDLRvB0iDwq2rzAEVI+hy4CH5Qf4KIR9Me86UediFPdewIfKV9cYE/ey/BJ+QGuGcF3FRkOEWPXt5XKl7di3xn0UfkBrhhBFUn1Ml3/kTgNjEYOFzA1MDN9eS8j7Pgzl5UfEMcIYikhAbcr1+1EZn5jsUFp5I2UhW1mBPoZxa4rPyDMCN5F8vNsUUGOiTNdu6U9H8MOH5qUnrxGTEbgi/IDTEZgW/kQfsL7ra02ph0auSklYcPoagS+KT+gqxFkofwK8oQ26aytwyPnK43VkfeMbUYgByz5qPyAKvLOt618kCN9NH3NabfRrUqDHyDHkpS4wUBklY9JV1uSNKzND9SBnyVpuCRVVqPraWrSxrURwTlgTNLGSxIzHriAWUcvpHGB69HPp9+M3+9o3+mBbPps0s1ZJKaTCtphknUk56wkHx4mo1d0X2QoY7rQRezHBkquZDp6xHYPFs55nBpywYPAoLQvWKLyRfQTXjtpI+gTF+1kkTqwkdIfyIIa4ntpejCme6VFb/SZpjqSa16EnUVcpQL8HL3/t6McCpkm45DTRDQhltgWoBvzY/R+P4aM2DLh7hBB6sh69JJ0uZfwPr9T/6odtI0l6khgYm7WAhWY+Zg39AzKyjyEqiKRJk2o05RGkAbzgTPo/fwHcnS++wPbQoS7QPk6SMK9hP/y/4YDu7kNBnYT/n56gHJ00AoVwh2+OrK86/N5CdjMUPRUrqCspYwTxKFG+FCvjqzW+lJeAmqMItoIXsHv/QdtM4TwIE+g/BF5CRjFMKJfB4eQVasllzMdPbwblF04+MtvZjB6JlFQLgLLkMddd6cHkvqmzbN0dficeedH0Z/wIWJQXgfG5iSjC4xHn89vHurl7u23SpXwVKWgnEcCGf3zETMXBiKBNC2TpznI47XzvJDwuYOg7Ef2rSnycLGCrLHUEji7lmM07ePjM+MIn0XsWl5Fcg+KZAgVZNGGlrffXLZTwHzLPkg+QZSzE5QtSCjZZ0OoImsotOVazaUTeW1an9LNk6no6WXar2ERfq1D6I8s0Y771KsjaVy35iFsHvRFnJtzxO+gY8hSqym46RTVkDWVT6NvzmAqZ5EEziw34HCG65DNKON2VlD+i2yBPgkLyY8t0AcJaj2KviFTWHmeFFO3fWYG8d+TzeUUsmD1QWACMXbASEBPZN/EpcgOnNomjHH8m8QrdtLANQdrHrAc+HqCNs4hPsaeRtnd+HsQeTQfRyKRJmrIGH0gEtYe01RGk8xB24rsu/hSgja6BVOQV0PcEUM7T43DyHGqexv/Np2rl0bpRDZnKNdOtME1yLv+Q+wox2Y5hCwNj70tS4lOD2A24mEfIX/laqUDGanMwq4v0q3phTiNa5Dp0byVvhMJ3kzDrZ3VY+GaE9gOQ5CtbG8BvonMsH3G0rU+Bf6JjFjebJTDlq6VCUUwABMjgK8gWUqjGv89CJlPvwqJKvbiUgzhbKOcBv4HfAJ8jMQb3m+UXciEVaH4P5csk9UuDZyWAAAAAElFTkSuQmCC);
    background-size: 100% 100%;
  }

  .wrapper {
    overflow: hidden;
    position: relative;
    display: table;
    min-height: 95px;
    margin: 0 0 1em;
  }

  &__name {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 1.5em;
  }

  &__resolve {
    background: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 2em 0 0;
    color: $body-link-color;
    cursor: pointer;
  }

  &__steps {
    h3 {
      margin: 0 0 10px;
      font-size: inherit;
      font-weight: normal;
    }

    p {
      margin: 0;
      display: inline;
      line-height: 22px;
    }
  }

  &__toggle {
    display: block;
    position: relative;
    clear: both;
    margin: 0 0 2em;
  }

  &__history {
    margin: 2em 0 1em;
    font-weight: bold;
  }

  &__desc,
  &__comments {
    font-size: 14px;
  }

  &__form {
    font-size: 14px;
    padding-top: 1.5em;

    input {
      width: 80%;
      padding: 5px;
      line-height: 1.4;
    }

    button {
      background: #eee;
      border: 1px solid #ccc;
      float: right;
      line-height: 1.4;
      width: 18%;
      padding: 6px 5px 5px;
    }
  }
}

.comment {
  padding: 2em 0;
  border-top: 1px solid $comment-border-color;

  &.is-owner {
    border-left: 3px solid $comment-border-color;
    padding-left: 1em;

    .comment__author:after {
      content: " (card owner)";
      position: absolute;
      right: 0;
      font-style: italic;
      color: $body-text-alt-color;
    }
  }

  &__meta {
    margin: 0 0 1em;
    position: relative;
  }

  &__author {
    font-style: normal;
    display: inline;
    margin-right: 1.5em;

    a {
      text-transform: uppercase;
      color: $body-text-color;
    }
  }

  &__time {
    color: $body-text-alt-color;
  }

  &__body {
    margin: 0;
  }
}
