/*
 * Variables
 */
$card-default-bg:    #fafafa;
$card-default-txt:   #8f939a;

$card-achieved-bg:   rgb(41, 203, 147);
$card-achieved-txt:  #fdfefe;

$card-template-bg:   #fc6c7f;
$card-template-txt:  $card-achieved-txt;

/*
 * Main styles
 */
.card {
  font-size: 11px;
  display: inline-block;
  vertical-align: top;
  margin: .5em;
  width: 10em;
  height: 5em;
  text-align: center;
  background: $card-default-bg;
  color: $card-default-txt;
  position: relative;
  overflow: hidden;
  user-select: none;
  transition: color .3s, background-color .3s;

  .card-templates & {
    background: $card-template-bg;
    color: $card-template-txt;
  }

  &[ng-drag] {
    user-select: none;
  }

  &--is-achieved {
    background: $card-achieved-bg;
    color: $card-achieved-txt;
  }

  &__type {
    font-weight: normal;
  }

  &.dragging {
    opacity: .5;
  }

  [ng-drag] {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 5em;
    padding: 0;
    margin: 0;
  }
}
