/*
* Variables
*/
$card-default-bg:    #fafafa;
$card-default-txt:   #8f939a;

$card-achieved-bg:   rgb(41, 203, 147);
$card-achieved-txt:  #fdfefe;

$card-template-bg:   $red;
$card-template-txt:  $card-achieved-txt;

$card-width:         180px;
$card-height:        $card-width;
$card-small-width:   100px;
$card-small-height:  $card-small-width;
$card-tiny-width:    72px;
$card-tiny-height:   $card-tiny-width;


$ninja-width:        55px;
$ninja-height:       $ninja-width;

/*
* Main styles
*/
.card {
  font-size: 11px;
  display: inline-block;
  vertical-align: top;
  margin: .5em;
  width: $card-width;
  height: $card-height;
  padding: 1em;
  text-align: center;
  background: $card-default-bg;
  color: $card-default-txt;
  position: relative;
  overflow: hidden;
  user-select: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 darken($card-default-bg, 20%);
  transition: color .3s, background-color .3s, box-shadow .3s;

  &--is-clickable {
    cursor: pointer;
  }

  &[ng-drag] {
    user-select: none;
  }

  &__level,
  &__comments {
    transition: color .3s;
  }

  &__icon {
    font-size: 60px;

    span {
      margin-left: calc(50% - 25px);
    }
  }

  &__type {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    padding: 0 5%;
  }

  &__level,
  &__comments {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    color: darken($card-default-bg, 20%);
  }

  &__comments {
    top: auto;
    bottom: 15px;
  }

  &.dragging {
    opacity: .5;
  }

  [ng-drag] {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 5em;
    padding: 0;
    margin: 0;
  }
}

/*
* Card modifiers
*/
.card {
  &--template {
    background: $card-template-bg;
    color: $card-template-txt;
    box-shadow: 0 3px 0 0 darken($card-template-bg, 30%);

    .card__level {
      color: darken($card-template-bg, 50%);
    }
  }

  &--is-achieved {
    background: $card-achieved-bg;
    color: $card-achieved-txt;
    box-shadow: 0 3px 0 0 darken($card-achieved-bg, 20%);

    .card__level,
    .card__comments {
      color: darken($card-achieved-bg, 20%);
    }
  }

  &--is-unread {
    .card__comments:after {
      content: ' (new)';
      text-transform: uppercase;
      font-size: 9px;
    }
  }

  &--is-editable {
    text-align: left;

    &:after {
      display: none;
    }

    .card__type {
      position: static;
      text-align: center;
      margin-bottom: 1em;
    }

    .card__level {
      text-align: center;
      top: auto;
      bottom: 15px;
    }

    .card__desc {
      text-align: left;
      height: 34px;
      overflow: hidden;
      
      //Vertical ellipis for -webkit
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    .level {
      width: 40px;
    }

    textarea.task {
      width: 100%;
    }

    .card__controls {
      position: absolute;
      bottom: 1em;
      left: 1em;
    }
  }

  &--small {
    width: $card-small-width;
    height: $card-small-height;

    &:after {
      display: none;
    }

    .card__type {
      position: static;
      font-weight: normal;
    }

    .card__level {
      top: auto;
      bottom: 15px;
      font-weight: normal;
    }

    .card__comments {
      display: none;
    }

    .card__icon {
      display: none;
    }
  }

  &--tiny {
    width: $card-tiny-width;
    height: $card-tiny-height;
    float: left;
    margin: 1em 1em 1em 0;

    span {
      font-size: 50px;
    }

    &:after {
      width: 30px;
      height: 30px;
      top: 22px;
    }
  }

  &--notransition {
    transition: none;
  }
}

/*
 * cards in /path
 */

.page-path {
  .card__icon {
    margin: 40px auto;
    
    span {
      margin-left: 0;
    }
  }
}
