/*
 * Variables
 */
$card-default-bg:    #fafafa;
$card-default-txt:   #8f939a;

$card-achieved-bg:   rgb(41, 203, 147);
$card-achieved-txt:  #fdfefe;

$card-template-bg:   #fc6c7f;
$card-template-txt:  $card-achieved-txt;

$card-width:         180px;
$card-height:        $card-width;
$card-small-width:   100px;
$card-small-height:  $card-small-width;

$ninja-width:        55px;
$ninja-height:       $ninja-width;

/*
 * Main styles
 */
.card {
  font-size: 11px;
  display: inline-block;
  vertical-align: top;
  margin: .5em;
  width: $card-width;
  height: $card-height;
  padding: 1em;
  text-align: center;
  background: $card-default-bg;
  color: $card-default-txt;
  position: relative;
  overflow: hidden;
  user-select: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 darken($card-default-bg, 20%);
  transition: color .3s, background-color .3s;

  &--is-clickable {
    cursor: pointer;
  }

  &[ng-drag] {
    user-select: none;
  }

  &:after {
    content: ' ';
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: $ninja-width;
    height: $ninja-height;
    background: url(../images/ninja.png) no-repeat 0 0;
    background-size: 100% 100%;
    opacity: .2;
  }

  &__type {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    padding: 0 5%;
  }

  &__level {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    color: darken($card-default-bg, 20%);
  }

  &.dragging {
    opacity: .5;
  }

  [ng-drag] {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 5em;
    padding: 0;
    margin: 0;
  }
}

/*
 * Card modifiers
 */
.card {
  &--template {
    background: $card-template-bg;
    color: $card-template-txt;
    box-shadow: 0 3px 0 0 darken($card-template-bg, 30%);

    .card__level {
      color: darken($card-template-bg, 50%);
    }
  }

  &--is-achieved {
    background: $card-achieved-bg;
    color: $card-achieved-txt;
    box-shadow: 0 3px 0 0 darken($card-achieved-bg, 20%);

    .card__level {
      color: darken($card-achieved-bg, 20%);
    }
  }

  &--is-editable {
    text-align: left;

    &:after {
      display: none;
    }

    .card__type {
      position: static;
      text-align: center;
      margin-bottom: 1em;
    }

    .card__level {
      text-align: center;
    }

    .card__desc {
      text-align: left;
    }

    .level {
      width: 40px;
    }

    textarea.task {
      width: 100%;
    }

    .card__controls {
      position: absolute;
      bottom: 1em;
      left: 1em;
    }
  }

  &--small {
    width: $card-small-width;
    height: $card-small-height;

    &:after {
      display: none;
    }

    .card__type {
      position: static;
    }

    .card__type,
    .card__level {
      font-weight: normal;
    }
  }
}
