/*
* Variables
*/
$skill-default-bg:    #fafafa;
$skill-default-txt:   #8f939a;

$skill-width:         180px;
$skill-height:        $skill-width;

/*
* Skill item
*/
.skill {
  font-size: 11px;
  display: inline-block;
  vertical-align: top;
  margin: .5em;
  width: $skill-width;
  height: $skill-height;
  padding: 1em;
  text-align: center;
  background: $skill-default-bg;
  color: $skill-default-txt;
  position: relative;
  overflow: hidden;
  user-select: none;
  border-radius: 3px;
  box-shadow: 0 3px 0 0 darken($skill-default-bg, 20%);
  transition: color .3s, background-color .3s, box-shadow .3s;

  &__letter {
    font-size: 60px;
    margin-top: 32px;
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
  }

  a {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: background-color .3s;

    &:hover {
      text-decoration: none;
      background: white;
    }
  }
}
