/*
 * Variables
 */
$drop-bg-color:           #f2f4f3;
$remove-bg-color:         #dbdbdb;
$remove-txt-color:        #777;
$remove-border-color:     #fc6c7f;

$drag-placeholder-width:  160px;
$drag-placeholder-height: 110px;
$drag-box-min-height:     $drag-placeholder-height;

/*
 * Main styles
 */
.page-edit {
  .inner {
    margin: 0 -2em;

    @include breakpoint(tablet) {
      float: left;
      width: 50%;
      border-right: 1px solid $body-border-color;
    }
  }

  .toggle-edit-action {
    padding: 0;
  }

  .person {
    margin: 2em 0;
  }

  .card-templates {
    margin: 2em 0;
    display: table;
    min-height: 400px;

    @include breakpoint(tablet) {
      float: right;
      width: 50%;
    }

    .message {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      line-height: 1.5;
    }
  }

  .card {
    cursor: move;
    margin: 0;
  }

  ul[dnd-list] {
    position: relative;
    float: left;
    min-height: $drag-box-min-height;
    width: 100%;

    li {
      position: relative;
      display: inline-block;
      float: left;
      margin: .5em;
    }

    .dndPlaceholder {
      width: $drag-placeholder-width;
      min-height: $drag-placeholder-height;
      border-radius: 3px;
      border: 2px dashed #ddd;
    }
  }

  .drop {
    margin: 1em 0;
    min-height: 20em;
    background: $drop-bg-color;
    box-shadow: 0 0 20px #ddd;
    position: relative;
    float: left;
    width: 100%;

    &--primary {
      ul[dnd-list] {
        padding: 0.25em 0.25em 6em;
        min-height: 20em;

        .dndDraggingSource {
          display: none;
        }
      }
    }

    &--remove {
      height: 5em;
      min-height: 0;
      background: $remove-bg-color;
      color: $remove-txt-color;

      .title {
        top: 50%;
        bottom: auto;
      }

      ul[dnd-list] {
        &.dndDragover {
          border: 2px dashed $remove-border-color;
          border-radius: 5px;
          width: 100%;
          height: 100%;
          min-height: inherit;
        }

        .dndPlaceholder {
          display: none;
        }
      }
    }

    .title {
      font-weight: normal;
      position: absolute;
      text-align: center;
      bottom: 5%;
      left: 50%;
      width: 200px;
      height: 20px;
      margin-left: -100px;
      margin-top: -10px;
    }

    div {
      position: relative;
      z-index: 2;
    }
  }
}
