/*
 * Variables
 */
$drop-bg-color:     #f2f4f3;
$remove-bg-color:   #dbdbdb;
$remove-txt-color:   #777;

/*
 * Main styles
 */
.page-edit {
  .inner{
    margin: 0 -2em;

    @include breakpoint(tablet) {
      float: left;
      width: 50%;
      border-right: 1px solid $body-border-color;
    }
  }
  
  .toggle-edit-action {
    padding: 0;
  }

  .person {
    margin: 2em 0;
  }

  .card-templates {
    margin: 2em 0;
    display: table;
    min-height: 400px;

    @include breakpoint(tablet) {
      float: right;
      width: 50%;
    }

    .message {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      line-height: 1.5;
    }
  }

  .card {
    cursor: move;
  }

  .drop {
    margin: 1em 0;
    padding: 1em 2em 6em;
    min-height: 20em;
    background: $drop-bg-color;
    box-shadow: 0 0 20px #ddd;
    position: relative;

    &--reorder {
      clear: both;
      padding-bottom: 1em;

      &__title {
        text-align: center;
        margin-bottom: 1em;
      }

      &__container {
        display: inline-block;
        width: 120px;
        height: 120px;
      }

      .card {
        float: left;
      }

      [ng-drop].drag-enter {
        outline: 5px solid red;
      }
    }

    &--remove {
      height: 5em;
      min-height: 0;
      background: $remove-bg-color;
      color: $remove-txt-color;

      .title {
        top: 50%;
        bottom: auto;
      }
    }

    &.drag-enter {
      outline: solid 5px red;
    }

    .title {
      font-weight: normal;
      position: absolute;
      text-align: center;
      bottom: 5%;
      left: 50%;
      width: 200px;
      height: 20px;
      margin-left: -100px;
      margin-top: -10px;
    }

    div {
      position: relative;
      z-index: 2;
    }
  }
}
