/*
 * Main styles
 */
.page-home {
  .person {
    margin: 2em 0;
  }

  .paths-list {
    text-align: center;

    li {
      display: inline-block;
      margin: 2em;
    }

    a {
      color: $body-text-color;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
