/*
 * Main styles
 */
.profile {
  text-align: center;
  margin: 2em 0;
  overflow: hidden;

  .thumbnail {
    max-width: 7em;
    margin-right: 1em;
    vertical-align: middle;
  }

  h2 {
    font-size: 14px;
    font-weight: normal;
    margin: .5em 0 0;
  }
}

.path {
  clear: both;
}

.comments {
  display: none;
}
