/*
 * Variables
 */
$path-bg-color: #f1f2f2;

/*
 * Main styles
 */
.page-path {
  .person {
    margin: 2em 0;
  }
}

.single-path {
  clear: both;
  width: 780px;
  text-align: center;
  background: $path-bg-color;
  padding: 3em 0;
  margin: 0 auto;
  min-height: 400px;

  @include breakpoint(desktop) {
    width: 1040px;
  }

  .row {
    display: flex;
  }

  .row:nth-child(even) {
    flex-direction: row-reverse;
  }

  .card {
    margin: 0 40px 100px;
  }
}
