/*
 * Variables
 */
$path-bg-color: #f1f2f2;

/*
 * Main styles
 */
.page-paths {
  position: relative;

  .person {
    padding: 2em 0;
    margin-bottom: 60px;
  }

  input.disabled {
    background: transparent;
    border: none;
    color: inherit;
  }

  .card__icon {
    margin: 40px auto;

    span {
      margin-left: 0;
    }
  }
}

.path {
  margin: 20px auto 80px;
  width: 950px;
  position: relative;

  &__name {
    color: #333;
    font-size: 16px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-bottom: 30px;
  }

  &__container {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    margin: 0 20px;
  }

  &__cards {
    clear: both;
    width: 780px;
    text-align: center;
    //background: $path-bg-color;
    margin: 2em auto -60px;
    min-height: 100px;

    .row {
      display: flex;
    }

    .row:nth-child(even) {
      flex-direction: row-reverse;
    }

    .card {
      margin: 0 40px 100px;
      z-index: 3;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    text-align: center;
    overflow: hidden;
  }
}
