/*
 * Variables
 */
$path-bg-color: #f1f2f2;

/*
 * Main styles
 */
.page-path {
  position: relative;

  .person {
    padding: 2em 0;
  }

  .path-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    text-align: center;
    overflow: hidden;
  }
}

.single-path {
  clear: both;
  width: 780px;
  text-align: center;
  background: $path-bg-color;
  margin: 2em auto 0;
  min-height: 400px;

//  Disable responsive grid until we update
//  the rendering of the SVG background
//
//  @include breakpoint(desktop) {
//    width: 1040px;
//  }

  .row {
    display: flex;
  }

  .row:nth-child(even) {
    flex-direction: row-reverse;
  }

  .card {
    margin: 0 40px 100px;
    z-index: 3;
  }
}
