$skills-margin: 2em 5%;

.page-skills {
  /*
   * List of skills
   */
  .skills {
    &__list {
      margin: $skills-margin;
    }

    &__add {
      margin: $skills-margin;
    }
  }

  // Styles for skill items are defined in modules/_skill.scss
}
