.page-skill {
  main {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  // Typography
  .secondary {
    margin-top: 2em;
  }

  p {
    font-size: 14px;
    margin: 0 0 1em;
  }

  // Resources table
  .resources {
    &__list {
      width: 100%;
      margin: 2em 0;
      font-size: 13px;

      th {
        font-weight: bold;
        padding-bottom: 1em;
      }

      td {
        padding: .5em 1.5em .5em 0;
      }

      &__link {
        font-size: 14px;
        font-weight: 600;
      }

      .column--url {
        width: 20%;
      }
    }

    &__add {
      .form-control {
        float: none;
      }
    }
  }
}
