/*
 * Variables
 */
$template-alt-color: #ccc;

/*
 * Main styles
 */
.existing {
  margin-top: 50px;
}

.templates {
  margin: 2em 0 0;

  &__filters {
    display: block;
  }

  &__tags {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
  }

  &__tag {
    outline: none;
    cursor: pointer;
    float: left;
    padding: 5px;
  }

  &__current-filter {
    color: #cb041e;
  }

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 50px 0;

    .icon {
      font-size: 30px;
      cursor: pointer;

      &:after {
        content: 'change icon';
        font-size: 10px;
        opacity: 0;
      }

      &:hover:after {
        opacity: 1;
      }
    }

    .icon-input {
      display: none;
    }

    .card__icon {
      font-size: 50px;
    }
  }

  .modal {
    @include single-transition(opacity, 0.3s, linear);
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2f3f3;
    color: #000000;
    width: 100%;
    height: 100%;
    padding: 20px;
    max-height: 100vh;
    overflow-y: auto;
    opacity: 0;
    z-index: -100;

    h1 {
      width: 100%;
      text-align: center;
      font-size: 40px;
      border-bottom: 2px solid #fc6c7f;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }

    &__icon {
      @include single-transition(all, 0.1s, linear);
      padding: 20px;
      width: 100px;
      font-size: 55px;
      display: inline-block;
      cursor: pointer;
      position: relative;

      &:hover {
        background-color: #fc6c7f;
        color: #ffffff;
      }

      &:focus, &:active {
        opacity: 0.4;
      }
    }

    &__icon.current {
      border: 1px solid #fc6c7f;

      &:after {
        content: 'currently used';
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 2;
        font-size: 10px;
      }
    }

    &.view {
      z-index: 1;
      opacity: 1;
    }
  }
}

.edit .template--view,
.view .template--edit {
  @include hide();
}
