/*
 * Variables
 */
$template-alt-color: #ccc;

/*
 * Main styles
 */
.existing {
  margin-top: 50px;
}

.templates {
  margin: 2em 0 0;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 50px 0;
  }
}

.edit .template--view,
.view .template--edit {
  @include hide();
}
