<section class="achievement">
  <h2 class="structural">Path details</h2>
  <button ng-click="close()" class="close" title="Close">Close</button>

  <figure class="wrapper">
    <div class="card card--tiny" ng-class="{'card--is-achieved': card.achieved}"></div>

    <figcaption class="achievement__name">{{ card.type }}</figcaption>
  </figure>

  <div class="achievement__steps">
    <div ng-if="card.task">
      <h3>Steps I’m taking:</h3>
      <p ng-bind-html="card.task | linky:'_blank'"></p>
    </div>
    <p ng-if="!card.task">No card description set.</p>
  </div>

  <div class="achievement__comments" ng-show="messages.length">
    <h3>Comments</h3>

    <article class="comment" ng-class="{'is-owner': message.author === cardOwner}" ng-repeat="message in messages | reverse">
      <div class="comment__meta">
        <address class="comment__author"><a ng-href="/paths/{{ message.author }}">{{ message.author }}</a></address>
        <time class="comment__time" ng-if="message.timestamp">{{ message.timestamp | relativeDate }}</time>
      </div>

      <p class="comment__body" ng-bind-html="message.text | linky:'_blank'"></p>
    </article>
  </div>

  <form class="achievement__form" ng-if="currentUserId">
    <input placeholder="Add a comment…" ng-model="newMessage">
    <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
  </form>
</section>
