<figure class="card" ng-class="{'card--is-achieved': card.achieved, 'card--is-unread': showUnread}" title="{{ card.task || 'No description.' }}">
  <figcaption class="card__type">{{ card.type }} <small>{{ card.task }}</small></figcaption>
  <div class="card__icon">
    <span class="{{ card.icon }}"></span>
  </div>
  <em class="card__level" ng-if="card.level">Level {{ card.level }}</em>
  <em class="card__daysLeft" ng-if="daysLeft && card.dueDate" title="Due date: {{card.dueDate || 'none'}}">Days left: {{ daysLeft(card.dueDate) }}</em>
  <span class="card__comments" ng-if="card.comments"><span class="icon-bubble"></span> {{ commentCount }}</span>
</figure>
