<section class="achievement">
  <button ng-click="close()">Close</button>
  <h2 class="achievement__name">{{ card.type }}</h2>

  <p class="achievement__desc" ng-if="card.task">{{ card.task }}</p>
  <p class="achievement__desc" ng-if="!card.task">No card description set.</p>

  <h3 class="achievement__history">Path History</h3>

  <!--<unleash-card-comments></unleash-card-comments>-->

  <div class="comments">
    <form>
      <input placeholder="Message..." ng-model="newMessage">
      <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
    </form>

    <ul id="messages" ng-show="messages.length">
      <li ng-repeat="message in messages | reverse">{{message.author}}: {{message.text}}</li>
    </ul>
  </div>
</section>
