<figure class="card" ng-class="{'card--is-achieved': card.achieved, 'card--is-unread': showUnread}" title="{{ card.description || 'No description.' }}">
  <figcaption class="card__type">{{ card.name }} <small>{{ card.description }}</small></figcaption>
  <div class="card__icon">
    <span class="{{ card.icon }}"></span>
  </div>
  <em class="card__level" ng-if="card.level">Level {{ card.level }}</em>
  <em class="card__days-left" ng-if="daysLeft && card.dueDate" title="Due date: {{card.dueDate || 'none'}}"><span class="icon-history"></span> {{ daysLeft(card.dueDate) }}</em>
  <span class="card__comments" ng-if="card.comments.length"><span class="icon-bubble"></span> {{ commentCount }}</span>
</figure>
