<button type="button"
        class="btn"
        ng-if="!isResourceFormVisible"
        ng-click="resourceAdd()">Add a resource</button>

<form class="resources__add" ng-if="isResourceFormVisible">
  <input type="text" class="form-control" ng-model="resource.url" placeholder="URL">
  <br>
  <textarea cols="25" rows="4" class="form-control" ng-model="resource.description" placeholder="Description"></textarea>
  <div>
    <button type="submit" class="btn" ng-click="add(resource)">Submit</button>
    <button type="button" class="btn" ng-click="cancel()">Cancel</button>
  </div>
</form>
