<div class="icon" ng-click="showModal()">
  <span class="{{template.icon}}"></span>
</div>
<div class="modal">
  <div class="container">
    <h1>Choose icon</h1>
    <div class="modal__icon">
      <span class="icon-home3">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-pencil">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-film">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-video-camera">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-dice">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-pacman">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-spades">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-clubs">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-diamonds">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-bullhorn">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-connection">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-book">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-file-empty">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-coin-dollar">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-display">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-laptop">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-mobile">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-mobile2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-tablet">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-download">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-bubbles2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-user">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-users">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-user-plus">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-user-minus">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-user-check">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-quotes-left">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-hour-glass">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-binoculars">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-search">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-bug">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-bin2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-airplane">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-target">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-shield">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-power">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-star-full">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-heart">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-happy">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-happy2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-smile2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-tongue2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-sad2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-wink2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-grin2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-cool2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-angry2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-evil2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-shocked2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-baffled2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-confused2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-neutral2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-hipster2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-wondering2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-sleepy2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-frustrated2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-crying2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-warning">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-notification">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-question">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-cancel-circle">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-cross">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-checkmark">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-checkbox-checked">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-italic">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-strikethrough">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-omega">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-sigma">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-superscript">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-paragraph-left">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-mail3">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-github3">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-wordpress">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-joomla">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-heart2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-cloud">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-star">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-sound">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-video">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-trash">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-user2">
      </span>
    </div>
    <div class="modal__icon">
      <span class="icon-key">
      </span>
    </div>
  </div>
</div>