<input type="text" class="type" ng-model="template.name" placeholder="Name">
<div unleash-icons-modal  config="add"></div>
<textarea class="task" cols="25" rows="2" ng-model="template.description" placeholder="Description">{{ template.description }}</textarea>
<input type="text" class="task" ng-model="template.tags" placeholder="Tags comma separated">
<input type="text" class="level" ng-model="template.level" placeholder="Level">
<div class="card__controls">
  <button ng-click="add(template)">Save</button>
  <button ng-click="remove()">Remove</button>
</div>
