<div>
  <div class="path"
       ng-if="paths.length"
       ng-repeat="path in paths"
       ng-class="{'path--is-owner': currentPathOwner.isCurrentUser}">

    <h3 class="path__name"><span class="icon-map"></span> <em>{{path.name}}</em></h3>

    <div class="path__container">
      <div class="path__cards">
        <figure ng-repeat="card in path.goals | orderBy: 'order'"
                ng-click="showCard(path.id, card.id)"
                class="card--is-clickable card--no-description"
                data-view="public"
                data-card="card"
                data-card-owner-id="{{ currentPathOwner.id }}"
                data-current-user-id="{{ user.id }}"
                unleash-card>
        </figure>
      </div>
    </div>

    <div class="path__bg" unleash-path-bg></div>
  </div>

  <!-- @todo detect lack of cards in a better way -->
  <div ng-if="!initializing && !paths[0].goals.length">
    <h2>No paths or cards set up yet!</h2>
  </div>
</div>
