<!--<unleash-person name="{{ user.google.displayName }}" thumb="{{ user.google.cachedUserProfile.picture }}"></unleash-person>-->

<div class="inner">
  <div class="drop drop--primary" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
    <h4 class="title">Drop area</h4>

    <ul ng-if="cards.length">
      <li ng-repeat="card in cards" class="card--small" data-card="card" ng-drag="true" ng-drag-data="card" unleash-card></li>
    </ul>
  </div>

  <div class="drop drop--remove" ng-drop="true" ng-drop-success="remove($data, $event)">
    <h4 class="title">Remove cards</h4>
  </div>
</div>

<div class="card-templates">
  <h3 class="structural">Available cards:</h3>

  <p class="message" ng-hide="templates.available">Loading…</p>
  <p class="message" ng-show="templates.available && !templates.available.length">You’ve already used all available templates. <br>Great job!</p>

  <ul ng-if="templates.available.length">
    <li ng-repeat="template in templates.available" class="card--small card--template card--notransition" data-card="template" ng-drag="true" ng-drag-data="template" ng-drag-success="removeAvailable({{ $index }})" unleash-card></li>
  </ul>
</div>
