<div class="page-account">
  <div class="wrapper">
    <unleash-person name="{{ user.google.displayName }}" thumb="{{ user.google.cachedUserProfile.picture }}"></unleash-person>

    <div class="drop drop--primary" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
      <h4 class="title">Drop area</h4>

      <ul>
        <li class="card" ng-class="{'card--is-achieved': card.achieved}" ng-repeat="card in cards.dropped" ng-drag="true" ng-drag-data="card" ng-drag-success="onDragSuccess($data,$event)">
          <h3 class="card__type">{{ card.type }} <span class="card__level" ng-if="card.level">({{ card.level }})</span></h3>
        </li>
      </ul>
    </div>

    <div class="drop drop--remove" ng-drop="true" ng-drop-success="remove($data, $event)">
      <h4 class="title">Remove cards</h4>
    </div>

    <div ng-drag-clone="">
      <h3 class="card__type">{{ clonedData.type }} <span ng-if="clonedData.level">({{ clonedData.level }})</span></h3>
    </div>
  </div>

  <div class="card-templates">
    <h3 class="structural">Available cards:</h3>

    <p class="loading" ng-hide="cards.initial.length">Loading cards…</p>

    <ul ng-show="cards.initial.length">
      <li ng-repeat="card in cards.initial" card-data="card" is-draggable="true" unleash-card></li>
    </ul>
  </div>
</div>
