<div class="toggle-edit-action">
  <a ng-href="/paths/{{ params.userId }}">Go back to {{ params.userId }}’s public profile</a>
</div>

<unleash-person name="{{ currentPathOwner.fullName }}" thumb="{{ currentPathOwner.picture }}"></unleash-person>

<section class="card-templates" unleash-sticky control="controlTemplates">

  <div class="tab-controls">
    <button ng-click="toggleCards()">Toggle Templates/Quick Cards</button>
    <input type="text" placeholder="Search..." ng-model="filterTemplates" />
  </div>

  <div ng-show="showTemplates">
    <p class="message" ng-hide="templates.filtered.length">Loading…</p>

    <div class="templates__filters">
      <button ng-click="clearFilters();">clear filters</button>
      <ul class="templates__tags">
        <li class="templates__tag" ng-class="{'templates__current-filter': tag == currentFilter}" ng-repeat="tag in tags" ng-click="filter(tag);">{{tag}}</li>
      </ul>
    </div>

    <ul dnd-list="templates.filtered" dnd-horizontal-list="true" dnd-allowed-types="[]">
      <li ng-repeat="template in templates.filtered | filter:filterTemplates "
          dnd-effect-allowed="copy"
          dnd-draggable="template"
          dnd-type="'template'">
        <figure class="card--full card--template card--notransition" data-card="template" unleash-template></figure>
      </li>
    </ul>
  </div>
  <div ng-hide="showTemplates" class="templates quick-cards" unleash-cards-add></div>
</section>

<div class="inner" unleash-sticky control="controlCards">

  <div ng-click="createPath()" class="drop drop--remove">
    <h3 class="title">Create a path</h3>
  </div>

  <section class="drop drop--primary" ng-repeat="path in paths">
    <input
      placeholder="Type name and hit enter"
      class="path-name" type="text"
      name="path_{{path.id}}"
      value="{{path.name}}"
      ng-keypress="editPathName($event)"
    />
    <h3 class="title">Drop area</h3>

    <ul id="{{path.id}}" dnd-list="cards" dnd-horizontal-list="true" dnd-drop="dropCard(event, index, item, external, type)">
      <li ng-repeat="card in path.goals | orderBy: 'order'"
          id="{{card.id}}"
          dnd-effect-allowed="move"
          dnd-draggable="card"
          dnd-type="'card'"
          dnd-moved="path.goals.splice($index, 1)">
        <figure class="card--full" data-card="card" data-path-id="path.id" data-remove-handler="removeCard" unleash-card></figure>
      </li>
    </ul>
  </section>

  <div unleash-scroll-bookmark offset-top="bookmarkTop"></div>

</div>
