<div class="toggle-edit-action">
  <a ng-href="/paths/{{ params.userId }}">Go back to {{ params.userId }}’s public profile</a>
</div>

<unleash-person name="{{ currentPathOwner.google.displayName }}" thumb="{{ currentPathOwner.google.cachedUserProfile.picture }}"></unleash-person>

<section class="card-templates" unleash-sticky control="controlTemplates">

  <div class="tab-controls">
    <button ng-click="toggleCards()">Toggle Templates/Quick Cards</button>
    <input type="text" placeholder="Search..." ng-model="filterTemplates" />
  </div>

  <div ng-show="showTemplates">
    <h3 class="structural">Available cards:</h3>

    <p class="message" ng-hide="templates.available">Loading…</p>
    <p class="message" ng-show="templates.available && !templates.available.length">You’ve already used all available templates. <br>Great job!</p>

    <ul dnd-list="templates.available" dnd-horizontal-list="true" dnd-allowed-types="[]">
      <li ng-repeat="template in templates.available | filter:filterTemplates "
          dnd-effect-allowed="copy"
          dnd-draggable="template"
          dnd-type="'template'">
        <figure class="card--full card--template card--notransition" data-card="template" unleash-card></figure>
      </li>
    </ul>
  </div>
  <div ng-hide="showTemplates" class="templates quick-cards" unleash-cards-add></div>
</section>

<div class="inner" unleash-sticky control="controlCards">
  <section class="drop drop--primary">
    <h3 class="title">Drop area</h3>

    <ul dnd-list="cards" dnd-horizontal-list="true" dnd-drop="dropCard(event, index, item, external, type)">
      <li ng-repeat="card in cards"
          dnd-effect-allowed="move"
          dnd-draggable="card"
          dnd-type="'card'"
          dnd-moved="cards.splice($index, 1)">
        <figure class="card--full" data-card="card" unleash-card></figure>
      </li>
    </ul>
  </section>

  <div unleash-scroll-bookmark offset-top="bookmarkTop"></div>

  <div class="drop drop--remove">
    <h3 class="title">Remove cards</h3>
    <ul dnd-list="[]" dnd-drop="remove(event, index, item, external, type)" dnd-allowed-types="['card']"></ul>
  </div>

</div>
