<header ng-if="!user" class="animate-if">
  <h2 class="primary">Path to #Unleash</h2>
  <h3 class="secondary">“Wherever you are, the path is in front of you.”</h3>
</header>

<section ng-if="user.isAdmin" class="admin-intro animate-if">
  <h2>Hi, {{ user.username }}!</h2>

  <p>You’ve been granted with the following admin rights:</p>

  <ul>
    <li>editing templates,</li>
    <li>editing user paths,</li>
    <li>marking cards as achieved.</li>
  </ul>

  <p>Have fun!</p>
</section>

<section ng-if="user" class="animate-if">
  <h2 class="structural">List of paths:</h2>

  <ul class="paths-list" ng-show="allUsers.length">
    <li ng-repeat="user in allUsers">
      <a ng-href="/paths/{{ user.username }}">
        <unleash-person name="{{ user.google.displayName }}" thumb="{{ user.google.cachedUserProfile.picture }}"></unleash-person>
      </a>
    </li>
  </ul>
</section>
