<div ng-if="users.notfound">User not found!</div>

<unleash-person name="{{ users.current.google.displayName }}" thumb="{{ users.current.google.cachedUserProfile.picture }}"></unleash-person>

<div class="path" ng-show="users.current">
  <ul ng-show="cards.length">
    <li ng-repeat="card in cards" user-id="{{ users.current.uid }}" card-id="{{ card.$id }}" type="{{ card.type }}" level="{{ card.level }}" task="{{ task }}" unleash-card></li>
  </ul>

  <p ng-show="!cards.length">No cards set!</p>
</div>
