<h2 ng-if="!initializing && pathNotFound">User not found!</h2>

<span ng-if="initializing" class="initializing-spinner icon-spinner8"></span>

<div class="toggle-edit-action animate-if" ng-if="user.isAdmin && !initializing && !pathNotFound">
  <a ng-href="/paths/{{ params.userId }}/edit" ng-cloak>Edit this path</a>
</div>

<unleash-person name="{{ currentPathOwner.google.displayName }}" thumb="{{ currentPathOwner.google.cachedUserProfile.picture }}"></unleash-person>

<unleash-single-path ng-if="currentPathOwner"></unleash-single-path>
