<h2>Display a single path</h2>

<div ng-if="users.notfound">User not found!</div>

<div class="profile">
  <img class="thumbnail" ng-src="{{ user.google.cachedUserProfile.picture }}" alt="{{ user.google.displayName }}">
  <h2>{{ user.google.displayName }}</h2>
</div>

<div class="path" ng-show="users.current">
  <ul ng-show="cards.length">
    <li ng-repeat="card in cards" card-template>yeah</li>
  </ul>

  <p ng-show="!cards.length">No cards set!</p>

  <div class="comments">
    <form>
      <input placeholder="Message..." ng-model="newMessage">
      <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
    </form>

    <ul id="messages" ng-show="messages.length">
      <li ng-repeat="message in messages | reverse">{{message.text}}</li>
    </ul>
  </div>
</div>
