<a href="/skills" class="btn">&laquo; All skills</a>

<div ng-if="skill.name">
  <h2 class="primary">Skill: {{ skill.name }}</h2>

  <h3 class="secondary">Resources</h3>

  <div class="resources">
    <table class="resources__list" ng-if="resources.length">
      <thead>
        <tr>
          <th class="column--url">Url</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="resource in resources" resource="resource" unleash-resource-view></tr>
      </tbody>
    </table>

    <p ng-if="!resources.length">
      There are no resources here yet. Add the first one!
    </p>

    <unleash-resource-add skill="skill.id"></unleash-resource-add>
  </div>

  <unleash-persons users="users"></unleash-persons>

  <unleash-skill-person-add ng-if="user.isAdmin" users="users" skill="skill.id"></unleash-skill-person-add>
</div>
