<h2>List all templates</h2>

<p ng-if="!cards.existing">Loading…</p>

<div ng-if="cards.existing">
  <button ng-click="cards.add();">Add new</button>

  <div class="new" ng-if="cards.new.length">
    <h2>Add new card template</h2>
    <ul>
      <li class="template" ng-repeat="card in cards.new" card="card" cards="cards" unleash-template-edit></li>
    </ul>
  </div>

  <ul class="existing">
    <li class="template" ng-repeat="card in cards.existing | orderBy:cards.order" card="card" unleash-template-view></li>
  </ul>
</div>
