<h2>List all templates</h2>

<p ng-if="!cards.existing">Loading…</p>

<div ng-if="cards.existing">
  <button ng-click="cards.add();">Add new</button>

  <ul class="existing">
    <li class="template edit">
      <input type="text" value="Sample type">
      <input type="text" value="Sample task">
      <input type="text" class="level" ng-model="card.level">
      <div class="controls">
        <button ng-click="cards.save($index)">Save</button>
        <button>Delete</button>
      </div>
    </li>
    <li class="template" ng-repeat="card in cards.existing | orderBy:cards.order">
      <h3>{{ card.type }} <span ng-if="card.level">({{ card.level }})</span></h3>
      {{ card.task}}
      <div class="controls">
        <button ng-click="cards.edit($index)">Edit</button>
      </div>
    </li>
  </ul>

  <div class="new" ng-if="cards.new.length">
    <h2>Add new card template</h2>
    <ul>
      <li class="template" ng-repeat="card in cards.new">
        <input type="text" class="type" ng-model="card.type" placeholder="Type">
        <input type="text" class="task" ng-model="card.task" placeholder="Task">
        <input type="text" class="level" ng-model="card.level" placeholder="Level">
        <button ng-click="cards.save($index)">Save</button>
        <button>Delete</button>
      </li>
    </ul>
  </div>
</div>
