<h2 ng-if="!initializing && pathNotFound">User not found!</h2>

<span ng-if="initializing" class="initializing-spinner icon-spinner8"></span>

<div class="toggle-edit-action animate-if" ng-if="canEditPath && !initializing && !pathNotFound">
  <a ng-href="/paths/{{ params.userId }}/edit" ng-cloak>Edit this path</a>
</div>

<unleash-person name="{{ currentPathOwner.fullName }}" thumb="{{ currentPathOwner.picture }}"></unleash-person>

<unleash-user-paths ng-if="currentPathOwner"></unleash-user-paths>
