<h2 ng-if="!initializing && pathNotFound">User not found!</h2>

<span ng-if="initializing" class="initializing-spinner icon-spinner8"></span>

<div class="toggle-edit-action animate-if" ng-if="canEditPath && !initializing && !pathNotFound">
  <div ng-if="!initializing && !paths.length">
    <h3>No paths or cards set up yet!</h3>
  </div>
  <a ng-href="/paths/{{ params.userId }}/edit" ng-cloak>Edit these paths</a>
</div>

<unleash-person name="{{ currentPathOwner.fullName }}" thumb="{{ currentPathOwner.picture }}"></unleash-person>

<div class="path"
     ng-if="paths.length"
     ng-repeat="path in paths"
     ng-class="{'path--is-owner': currentPathOwner.isCurrentUser}">
   <unleash-user-path></unleash-user-path>
</div>
